.progressbar {
  display: flex;
  list-style-type: none;
  counter-reset: step;
  padding: 0;
  margin: 0;
  position: relative;
}

.progressbar li {
  counter-increment: step;
  text-align: center;
  width: 100%; 
  position: relative;
  color: #ccc; 
  z-index: 2;
}

.progressbar li::before {
  content: counter(step);
  display: block;
  margin: 0 auto 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #ccc; 
  color: #fff;
  z-index: 3;
}

.progressbar li.completed::before {
  background-color: #004AAD; 
  color: #fff; 
}

.progressbar li.active::before {
  background-color: #004AAD; 
  color: #fff; 
}

.progressbar li.completed,
.progressbar li.active {
  color: #004AAD;
}

.progressbar li::after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 5px; 
  background-color: #ccc;
  top: 15px; 
  left: 50%;
  z-index: -1;
}

.progressbar li.completed::after {
  background-color: #004AAD; 
}

.progressbar li.active::after {
  background-color: #004AAD; 
}

.progressbar li:nth-child(1) + li.active::after {
  background-color: #004AAD;
}

.progressbar li:nth-child(2) + li.active::after {
  background-color: #004AAD;
}

.progressbar li:last-child::after {
  display: none;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: auto;
  background-color: white;
}

h1.text-center {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.form-content {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.85em;
  margin-top: 5px;
}

.step-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.step-footer button {
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 5px;
}

button.MuiButton-contained {
  background-color: #004AAD !important;
  color: white !important;
}

button.MuiButton-outlined {
  border-color: #004AAD !important;
  color: #004AAD !important;
}

@media (max-width: 600px) {
  .form-container {
    padding: 20px;
    margin: 20px;
  }

  h1.text-center {
    font-size: 1.5rem;
  }

  .form-content {
    padding: 20px;
  }
}
